.map-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.calculate-button {
  position: absolute; /* make it float on top of the map */
  top: 2rem;
  left: 2rem;
  z-index: 1000; /* ensure it’s above the map */
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.calculate-button:hover {
  background-color: #0056b3;
}
